# .gitignore for Terraform projects
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Sensitive variable files
*.tfvars
*.tfvars.json

# Ignore plan output
*.tfplan

# Ignore backup files
*.backup

# Ignore .DS_Store (macOS)
.DS_Store

# Ignore Windows thumbnail cache
Thumbs.db
